.link-text {
	text-decoration : none;
}

.container-a {
	width : 100%;
	max-width: 100%;
	height : 50px;
	background-color : lightseagreen;
	position: relative;
	overflow: hidden;
}

.track {
	position: absolute;
	white-space: nowrap;
	will-change: transform;
	animation: marquee 60s linear infinite;
}

.adver-title {
	font-size : 17px;
	font-weight : bold;
	color : white;
	line-height : 50px;

}

@keyframes marquee {
	from {transform: translateX(0);}
	to {transform: translateX(-50%);}
}